NEXT_PUBLIC_API_BASE_URL=http://localhost:8000/api/v1

PRODUCTION_BACKEND_URL=your_production_backend_url_here
NEXT_PUBLIC_PRODUCTION_BACKEND_URL=your_production_backend_url_here

MODE=DEVELOPMENT
NEXT_PUBLIC_MODE=DEVELOPMENT
# for production, set MODE=PRODUCTION and NEXT_PUBLIC_MODE=PRODUCTION, then update PRODUCTION_BACKEND_URL and NEXT_PUBLIC_PRODUCTION_BACKEND_URL accordingly.